    "@headlessui/react": "^2.2.9",
    "@heroicons/react": "^2.2.0",
    "bcryptjs": "^3.0.2",
    "crypto-js": "^4.2.0",
    "mongoose": "^8.19.1",
    "next": "15.5.4",
    "next-auth": "^4.24.11",
    "react": "19.1.0",
    "react-dom": "19.1.0",
    "react-hot-toast": "^2.6.0",
    "tailwindcss": "^4.1.14",
    "postcss": "^8.x",
    "autoprefixer": "^10.x"